# Python Basics

## Chapter 1

#### 1(a) Hello World

In [1]:
print('Welcome to Data Science')

Welcome to Data Science

In [2]:
print("Jay said John's session is bit boring")

Jay said John's session is bit boring

In [3]:
print("""Jay said "John's sessiom is bit boring" """)

Jay said "John's sessiom is boit boring"

In [4]:
print(67)

67

In [5]:
print(76+34+34)

144

#### 1(b) Create  a variable

In [6]:
participants='Jay','Akki','Bhar','Koti','Mali','chinnu','putta'

In [7]:
participants

('Jay', 'Akki', 'Bhar', 'Koti', 'Mali', 'chinnu', 'putta')

In [8]:
len(participants)

7

In [9]:
participants[3]

'Koti'

In [10]:
participants[1:]

('Akki', 'Bhar', 'Koti', 'Mali', 'chinnu', 'putta')

In [11]:
participants[2:6]

('Bhar', 'Koti', 'Mali', 'chinnu')

###### Enumarate functions- Look

## Chapter 2

**3 Datatypes in Python:**
1. Integer - only whole numbers
2. Float - with decimal points
3. String - anything which is enclosed with quoted

#### What is a String?

In [12]:
jay_score=200

In [13]:
type(jay_score)

int

In [14]:
satvik_avg_marks=8.3

In [15]:
type(satvik_avg_marks)

float

In [16]:
akki_avg_score='10'

In [17]:
type(akki_avg_score)

str

#### 2(b) Concatination - Indexing - Slicing

In [18]:
fname= 'Jayanth'
lname= 'Swamy'
age=23

In [19]:
fname

'Jayanth'

In [20]:
lname

'Swamy'

In [21]:
fname
lname

'Swamy'

In [22]:
fname,lname

('Jayanth', 'Swamy')

In [23]:
print(fname)
print(lname)

Jayanth
Swamy

In [24]:
print(fname,lname)

Jayanth Swamy

In [25]:
print('First Name: ' + fname + ' Last Name: ' + lname) # String Concatination

First Name: Jayanth Last Name: Swamy

In [26]:
print('First Name: ' + fname + ' Last Name: ' + lname+ ' Age: '+ str(age)) #Type Casting

First Name: Jayanth Last Name: Swamy Age: 23

In [27]:
print('First Name:', fname, 'Last name:', lname, 'Age:',age)

First Name: Jayanth Last name: Swamy Age: 23

In [28]:
print('First Name:', fname, '\nLast name:', lname, '\nAge:',age) # Escape Sequences

First Name: Jayanth
Last name: Swamy
Age: 23

In [29]:
print('First Name:', fname, '\tLast name:', lname, '\tAge:',age)

First Name: Jayanth 	Last name: Swamy 	Age: 23

#### 2(c) Manipulating String With Methods/Functions.

**Methods or Functions**: Inorder to do some operation on your variable, we go for Methods. And always method closed with ()

In [30]:
learner_1='Jayanth'
learner_2=' Anil'
learner_3='Akki   '
learner_4='          Shashi      '

In [31]:
print(learner_1)
print(learner_2)
print(learner_3)
print(learner_4)

Jayanth
 Anil
Akki
          Shashi

In [32]:
len(learner_1), len(learner_2), len(learner_3), len(learner_4)

(7, 5, 7, 22)

In [33]:
learner_1.upper() # Return a copy of the string converted to uppercase.

'JAYANTH'

In [34]:
learner_2.lstrip() #Return a copy of the string with leading whitespace removed

'Anil'

In [35]:
learner_3.rstrip() #Return a copy of the string with trailing whitespace removed

'Akki'

In [36]:
learner_4.strip() #Return a copy of the string with leading and trailing whitespace removed

'Shashi'

### Task 1: Come up with 2 examples for all the string methods.

#### 2(d) Interact with user input

In [37]:
input('UserName:')

UserName:Jayanth

'Jayanth'

In [38]:
user_input=input('UserName:')
print('Username starts with', user_input[0])

UserName:Jayanth
Username starts with J

#### 2(e). Get 2 inputs from the user and print it

In [39]:
Name=input('Name:')
print('Hello',Name)
Age=input('Age:')
print('Oh, you are', Age,'years old')

Name:Jay
Hello Jay
Age:23
Oh, you are 23 years old

#### 2(f) Streamline your print statement

In [40]:
Fav_hero=input('Your Fav hero:')
Fav_movie=input('Your Fav movie:')
print('Your favourate hero is {} and your favourate movie is {}'. format(Fav_hero, Fav_movie)) # print formatting

Your Fav hero:Puneeth
Your Fav movie:Yuvaratna
Your favourate hero is Puneeth and your favourate movie is Yuvaratna

## Chapter 3: Numbers in Python

In [41]:
user_marks=input('Enter your marks:')
print('Scored marks :', abs(user_marks))

Enter your marks:88

TypeError: bad operand type for abs(): 'str'

In [42]:
type(user_marks)

str

In [43]:
user_marks=int(input('Enter your marks:'))
print('Scored marks :', abs(user_marks))

Enter your marks:-78
Scored marks : 78

In [44]:
type(user_marks)

int

## Chapter 4: Functions and Loops

**3 types of functions in python**

1. **Build-in/ Pre-defined function**: This function will get installed when we are Anaconda Navigator
2. **User-defined Function**: User defined functipon. Customizable
3. **Anonymous Function**: It is a nameless function used to accomplish one task at once.

#### 4(a) Write your own functions

In [45]:
#Step 1: Function defination
def get_details():
    print('Hello, Welcome to the 1st function')
    print('Thank you!')

In [46]:
# Step 2: Calling a function
get_details()

Hello, Welcome to the 1st function
Thank you!

In [47]:
# Positional Arguments
def get_numbers(num1, num2): # arguments
    print('Number 1:', num1)
    print('Number 2:', num2)
    return num1*num2 # Termination point

In [48]:
get_numbers(5,2) # Parameters

Number 1: 5
Number 2: 2

10

In [49]:
def get_learner_details(l_id,l_name,l_age, l_work):
    print('*******************************')
    print('Learner id:',l_id)
    print('Learner Name:', l_name)
    print('Learner Age:', l_age)
    print('Learner Workspace:',l_work)
    print('*******************************')

In [50]:
get_learner_details(1,'Jay',23,'Unemployee')

*******************************
Learner id: 1
Learner Name: Jay
Learner Age: 23
Learner Workspace: Unemployee
*******************************

In [51]:
get_learner_details(2,'Rumi',23,'RBI')

*******************************
Learner id: 2
Learner Name: Rumi
Learner Age: 23
Learner Workspace: RBI
*******************************

##### Default Parameter

In [52]:
def get_learner_details_2(l_id,l_name,l_age, l_work='Google'):
    print('*******************************')
    print('Learner id:',l_id)
    print('Learner Name:', l_name)
    print('Learner Age:', l_age)
    print('Learner Workspace:',l_work)
    print('*******************************')

In [53]:
get_learner_details_2(1,'Akki',23)

*******************************
Learner id: 1
Learner Name: Akki
Learner Age: 23
Learner Workspace: Google
*******************************

In [54]:
get_learner_details_2(2,'Ajit',24)

*******************************
Learner id: 2
Learner Name: Ajit
Learner Age: 24
Learner Workspace: Google
*******************************

In [55]:
get_learner_details_2(3,'Jay',23, 'Unemployee')

*******************************
Learner id: 3
Learner Name: Jay
Learner Age: 23
Learner Workspace: Unemployee
*******************************

##### Variable Length Arugument

In [56]:
def get_learner_details_3(l_id,l_name,l_age, *l_work):
    print('*******************************')
    print('Learner id:',l_id)
    print('Learner Name:', l_name)
    print('Learner Age:', l_age)
    print('Learner Workspace:',l_work)
    print('*******************************')

In [57]:
get_learner_details_3(1,'Akki',23,'Google','IBM','Microsoft')

*******************************
Learner id: 1
Learner Name: Akki
Learner Age: 23
Learner Workspace: ('Google', 'IBM', 'Microsoft')
*******************************

##### Keyword Argument

In [58]:
def get_learner_details_4(l_id,l_name,l_age, **l_work):
    print('*******************************')
    print('Learner id:',l_id)
    print('Learner Name:', l_name)
    print('Learner Age:', l_age)
    print('Learner Workspace:',l_work)
    print('*******************************')

In [59]:
get_learner_details_4(1,'Akki',23,company_1='Google',company_2='IBM',company_3='Microsoft')

*******************************
Learner id: 1
Learner Name: Akki
Learner Age: 23
Learner Workspace: {'company_1': 'Google', 'company_2': 'IBM', 'company_3': 'Microsoft'}
*******************************

##### Variable length and keyword Argument

In [60]:
def get_learner_details_5(l_id,l_age,*l_name, **l_work):
    print('*******************************')
    print('Learner id:',l_id)
    print('Learner Name:', l_name)
    print('Learner Age:', l_age)
    print('Learner Workspace:',l_work)
    print('*******************************')

In [61]:
get_learner_details_5(1,23,'Akki','Rumi','Aishu',company_1='Google',company_2='IBM',company_3='Microsoft')

*******************************
Learner id: 1
Learner Name: ('Akki', 'Rumi', 'Aishu')
Learner Age: 23
Learner Workspace: {'company_1': 'Google', 'company_2': 'IBM', 'company_3': 'Microsoft'}
*******************************

#### 4(b) Run in circles

In [62]:
range(1,21)

range(1, 21)

In [63]:
for i in range(1,21):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [64]:
for i in range(1,21,2):
    print(i)

1
3
5
7
9
11
13
15
17
19

In [65]:
for i in range(1,11):
    print('3*',i,'=',3*i)

3* 1 = 3
3* 2 = 6
3* 3 = 9
3* 4 = 12
3* 5 = 15
3* 6 = 18
3* 7 = 21
3* 8 = 24
3* 9 = 27
3* 10 = 30

## Chapter 5: Conditional logic

#### 5(1) Compare Values

In [66]:
5==5 # equal operator

True

In [67]:
5.5=='5.5'

False

In [68]:
'a'=='a'

True

In [69]:
7 != 5 # not equal

True

In [70]:
7%2

1

In [71]:
7%2==0

False

#### 5(b) Add some logic

**Different Operators in python**

1. **AND** Operator: will return True only if both conditions are True.
2. **OR** Operator: will return True if anyone condition is True.
3. **IN** Operator: we use to check if that particular word is available in my data.
4. **NOT IN** Operator:we use to check if that particular word is not available in my data.

In [72]:
math=68
stats=78
comp=50

In [73]:
math < stats

True

In [74]:
stats < comp

False

In [75]:
math < stats and stats < comp

False

In [76]:
math < stats and stats > comp

True

In [77]:
math < stats or stats < comp

True

In [78]:
jay_feedback= 'Data Science class is bit okay, but not matching my expectation'

In [79]:
'good' in jay_feedback

False

In [80]:
'good' not in jay_feedback

True

#### 5(c). Control the flow of the program

In [81]:
user_password=input('Enter password:')
if len(user_password)>=5:
    print('Strong password') 
else:
    print('Weak password')

Enter password:Jayanth
Strong password

In [82]:
user_password=input('Enter password:')
if len(user_password)>=8:
    print('Strong password') 
elif len(user_password)>=5 and len(user_password)<8:
    print('Moderate password')
else:
    print('Weak password')

Enter password:Jay
Weak password

#### 5(d) Find the factors of a number

1. Get an input from the user.
2. If user enters 10, the output should be 1,2,5,10

In [83]:
user_input=int(input('Enter the number to find the factors of a number:'))
for i in range(1, user_input+1):
    if user_input%i==0:
        print(i)

Enter the number to find the factors of a number:20
1
2
4
5
10
20

#### 5(e). Break Out of the Pattern

In [84]:
# Using break statement
while True:
    user_input=input('Type q to quit this window:')
    if user_input=='q':
        break

Type q to quit this window:a
Type q to quit this window:s
Type q to quit this window:d
Type q to quit this window:w
Type q to quit this window:Q
Type q to quit this window:q

In [86]:
while True:
    user_input=input('Type q to quit this window:')
    if user_input.lower()=='q':
        break

Type q to quit this window:Q

In [87]:
#Using continue statement
for i in range(1,101,1):
    if (i%2==0):
        continue
    print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

### Task 2: Work on with Loops, functions

### Task 3: List Comprehension

In [1]:
//def z_test_prop():
    while True:
        p=float(input('Input null hypothesis:'))
        cond=input('Input condition of null hypothesis:')
        if '<' and '='in cond:
            print('H0:p<=',p)
            print('H1:p>',p)
        elif '>'and'=' in cond:
            print('H0:p>=',p)
            print('H1:p<',p)
        elif '=' in cond:
            print('H0:p=',p)
            print('H1:p is not equal ',p)
        elif '>' in cond:
            print('H0:p>',p)
            print('H1:p<',p)
        elif '<' in cond:
            print('H0:p<',p)
            print('H1:p>',p)
        else:
            print('Not specified properly')
            break
        n=int(input('Enter sample size:'))
        P=float(input('Enter population propotion:'))
        z=(P-p)/np.sqrt((p*(1-p))/n)
        print('The test statistic is',z)
        p_value=1-stats.norm.cdf(abs(z))
        print("The p value is",p_value)
        if p_value>0.05:
            print('Since p value is greater than 0.05,we do not reject null hypothesis')
        else:
            print('Since p value is less than 0.05,we reject null hypothesis')
        return('********************************************************************************************')//

SyntaxError: invalid syntax (<ipython-input-1-eb0295c22a3e>, line 1)