# Data Structures In Python

### 4 Data Structures in Python

1. List
2. Sets
3. Tuples
4. Dict

### 1. List

* 1D
* Heterogenous
* Mutable/ Changable
* Allows duplicate elements
* Indexing and Slicing

In [1]:
empty_cart_1=[] # Empty list

In [2]:
type(empty_cart_1)

list

In [3]:
learner_names=['Akki','Anu','Diksha','Jay','Rumi','John']
learner_names

['Akki', 'Anu', 'Diksha', 'Jay', 'Rumi', 'John']

In [4]:
type(learner_names)

list

In [5]:
learner_names_1=['Akki','Anu','Diksha','Jay','Rumi','John','Akki','Jay'] # Allows duplicates, different d types
learner_names_1

['Akki', 'Anu', 'Diksha', 'Jay', 'Rumi', 'John', 'Akki', 'Jay']

In [7]:
learner_names_1[2] #Indexing

'Diksha'

In [8]:
learner_names_1[1:5] #Slicing

['Anu', 'Diksha', 'Jay', 'Rumi']

In [9]:
learner_names_1[6]='Krish' # Mutable
learner_names_1

['Akki', 'Anu', 'Diksha', 'Jay', 'Rumi', 'John', 'Krish', 'Jay']

In [10]:
check_type=['apple', 'table', 4, 'Mithun', 3.56]
check_type

['apple', 'table', 4, 'Mithun', 3.56]

In [11]:
for i in check_type:
    print(type(i))

<class 'str'>
<class 'str'>
<class 'int'>
<class 'str'>
<class 'float'>

In [12]:
learner_names_1.append('Zoo')
learner_names_1

['Akki', 'Anu', 'Diksha', 'Jay', 'Rumi', 'John', 'Krish', 'Jay', 'Zoo']

### 2. Sets

* 1D
* Heterogenous
* Mutable
* No duplicates
* Not Indexable and Not slicable

In [13]:
empty_cart_2=set() # Empty set
empty_cart_2

set()

In [14]:
learner_names_2={'Akki','Anu','Diksha','Jay','Rumi','John','Akki','Jay'} # Doesn't allow duplicate values
learner_names_2

{'Akki', 'Anu', 'Diksha', 'Jay', 'John', 'Rumi'}

In [15]:
learner_names_2[1] # Cannot do indexing

TypeError: 'set' object is not subscriptable

In [16]:
learner_names_2[:5] # Cannot do slicing

TypeError: 'set' object is not subscriptable

In [17]:
type(learner_names_2)

set

In [18]:
learner_names_2.add('Bala')
learner_names_2

{'Akki', 'Anu', 'Bala', 'Diksha', 'Jay', 'John', 'Rumi'}

In [19]:
learner_names_2.clear()
learner_names_2

set()

#### Task:
Explore all data structure related methods.

### 3. Tuple

* 1D
* Heterogenous
* Allows duplicate elements
* Not mutable/ not changable
* Indexable and Sliceable

In [20]:
empty_cart_3=()
empty_cart_3

()

In [21]:
type(empty_cart_3)

tuple

In [22]:
learner_names_3=('Akki','Anu','Diksha','Jay','Rumi','John','Akki','Jay') # Allows duplicate
learner_names_3

('Akki', 'Anu', 'Diksha', 'Jay', 'Rumi', 'John', 'Akki', 'Jay')

In [23]:
type(learner_names_3)

tuple

In [24]:
#Default: without braces it will consider as tuple
learner_names_4='Akki','Anu','Diksha','Jay','Rumi','John','Akki','Jay'

In [25]:
type(learner_names_4)

tuple

In [26]:
learner_names_4[3] # Can do indexing

'Jay'

In [27]:
learner_names_4[:4] # Can do slicing

('Akki', 'Anu', 'Diksha', 'Jay')

In [28]:
learner_names_4[5]='Sid' # Can not mutate

TypeError: 'tuple' object does not support item assignment

### 4. Dictionary

We call it as **key:value** pair.

* 2D
* Heterogenous
* Not Indexable and Not slicable
* can not cantain duplicate keys but can contain duplicate values

In [29]:
empty_cart_4={}

In [30]:
type(empty_cart_4)

dict

In [31]:
items_to_buy={'Milk':2,
             'Oats':1,
             'Aplle':'2kg'}
items_to_buy

{'Milk': 2, 'Oats': 1, 'Aplle': '2kg'}

In [32]:
items_to_buy.keys()

dict_keys(['Milk', 'Oats', 'Aplle'])

In [33]:
items_to_buy.values()

dict_values([2, 1, '2kg'])

In [34]:
items_to_buy[0] # Can not so indexing

KeyError: 0

In [35]:
learner_details={'fname':['Jayanth','Akhila','Rumana'],
                'lname':['MS','Hegde','Patel'],
                'age':[22,23,23]
                }
learner_details

{'fname': ['Jayanth', 'Akhila', 'Rumana'],
 'lname': ['MS', 'Hegde', 'Patel'],
 'age': [22, 23, 23]}

In [36]:
import pandas as pd

In [37]:
pd.DataFrame(learner_details)

     fname  lname  age
0  Jayanth     MS   22
1   Akhila  Hegde   23
2   Rumana  Patel   23

In [38]:
# Overwrite values if we duplicate keys
learner_details={'fname':'Jayanth',
                'lname':'MS',
                'age':22,
                 'fname':'Akhila'
                }
learner_details

{'fname': 'Akhila', 'lname': 'MS', 'age': 22}

In [39]:
learner_details={'fname':'Jayanth',
                'lname':'MS',
                'age':22,
                 'Marks':22
                }
learner_details

{'fname': 'Jayanth', 'lname': 'MS', 'age': 22, 'Marks': 22}

#### The End